@charset "utf-8";

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
}

#banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    isplay: flex;
    lex-direction: column;
} 

header{
    text-align:center;
    font-style: oblique;
    background-color: rgba(243, 235, 220, 0.3);
    height: 155px;
    display: flex;
    color: rgb(43, 2, 2);
    lign-items: center;
    width:100%;
    padding-left: 20px;

}

.hat h1{
    /* 5loat:center; */
    display: inline-block;
    font-size: 50px;
    text-transform: uppercase;
    font-style: Rosewood Std Regular;
    font-weight: 700;
    color: rgb(43, 2, 2);
    padding-right: 20px;
}

/* 1{
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
    color: blue;
} */
.logo{
    background-color:;
    display: ;
}
.logo img{
    float: ;
    width:200px;
    height:150px;
}

.f{
      
    color: white;
    font-size: 25px;
    ackground-color: transparent;
    widows: 50px;
    padding: 0px;
    margin: 0px;
    border: none;
    word-spacing: 0%
    
}



.navbar{
    /* padding: 0px 0px 0px 0px; */
    background-color: rgb(122, 56, 9);
    color: white;
}


.navbar-nav li{
    margin-left: 10px;
    margin-right: 10px;
    z-index: 2;
    color: white;
    text-align: center;
}



.navbar-nav li a{
    font-size: 17px;
    /* padding: 15px 60px; */
    text-transform: uppercase;
    color: white;
}

.navbar-nav li a:hover{
   
    border-bottom: groove;
    border-width: thin;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: 0.5s all;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 39px;
}


.current{
    color: #f53a07;
    font-weight: bold;
    font-size:16px;
    order-bottom:  3px solid rgb(255, 255, 255);
    adding-left: 10px;
    adding-right: 10px;
    padding-bottom:px;
}


/* body style */

.card{
    text-align: center;
    border: none;
    box-shadow: none;
}

.card-title{
    font-weight: bold;
    font-size: 25px;
}

#body .row{
    order: groove;
    order-color: gray;
    height: auto;
    margin-top: 10px;
    padding-top: 0px 30px 0px 30px;
    ackground-color: red;
    
}

#body .bx{
    border:;
    height: 160px;
}

#body .box-1 h1{
font-size: 22px
}


#body .box-1{
    order: groove;
    display: inline;
    font-size: 14px;
    margin: 25px;
    padding: 5px;
    height: auto;
    text-align: center;
    align-items: center;
    
    
}

#body img{
    background-size: contain;
}

/* End Body style */


/* Footer */


.page-footer{
    background-color: rgb(83, 38, 6);
    
}


row{
    border:groove;
}

.page-footer .row{
    order: groove;
    font-size: 15px;
}
.a-lnk p{
    color: cornflowerblue;
    font-size: 15px;
    text-align: left;
}




.fcont-l{
    text-align: left;
}

.cont-us{
    text-align: center;
}

.clearfix{
    background-color: white;
}

.m-lnk{
    font-size: 28px;
    argin: 10px;
}

#footer .box-1{
    border: groove;
    display: inline;
    color: rgb(255, 255, 255);
    margin: 2px;
    padding: 5px;
    height: auto;
    ext-align: center;
    lign-items: center;
}
#footer .box-1 .bx-f1{
    border: groove;
    text-align: left;
}

#footer .box-1 .bx-f2{
    border: groove;
    text-align: left;
}

#footer .box-1 .bx-f3{
    border: groove;
    text-align: center;
}


.lnk{
    border: groove;
    
}


#footer .box-1 .bx-f4{
    border: groove;
    text-align: right;
    
}

#footer h1{
    font-size: 25px;
}

#footer p{
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}

#footer .copyright{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

/* End of footer */




.cent{
    color: #e8491d;
    text-align: center;
    font-weight: bold;
    font-size: 20px;;
}


/* form footer */





form-style-6
    {
    ont: 95% Arial, Helvetica, sans-serif;
    background:  hsl(25, 86%, 17%);
}
.form-style-6 h3{
    background: saddlebrown;
    padding: 20px;

    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="username"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="textarea"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    idth: 100%;
    border: thin;
    height: 50px;
    background-color: transparent;
	border: 0px solid;
    argin-bottom: 3%;
	border-bottom: 2px solid white;
    adding: 3%;
    margin: 0%;
    color: white;
    font-size: 18px;
    ont: 95% Arial, Helvetica, sans-serif;
}
    
    
    
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    ox-shadow: 0 0 5px saddlebrown;
    adding: 3%;
    order: thin;
    border: none;	
    order: 0px solid;
	order-bottom: 2px solid saddlebrown;
    order: 1px solid white;
}
    
    
    

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]
    
    {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: %;
    background: saddlebrown;
    order-bottom: 2px solid saddlebrown;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-size: 20px;
}
    
    
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover
    
{
    background: saddlebrown;

}








/* form footer end */









@media(max-width:769px){

     /* #banner{
        height: 100vh;
    }  */
 

    #banner{
        background-image: url("../img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
    } 

    .logo {
        float:center;
        
        display: inline-block;
        background-color:;
    }


    header{
        display: block;
        height: 220px;
        text-align: center;
        font-weight: 200px;
    }
    

    .hat h1{
        font-size: 25px;
        text-align: center;
        padding-top: 0px;
        text-transform: uppercase;
        font-weight: 200px;
        color: rgb(43, 2, 2);
        isplay:inline-block;
    }

    .hat h2{
        font-size: 20px;
        text-align: center;
        color: rgb(43, 2, 2);
        text-transform: capitalize;
    }

 


  

    .f:hover, .f:focus{
        background-color: rgb(122, 56, 9);
        border-color: rgb(255, 255, 255);
    }

  
    .navbar-nav li {
        background-color: rgb(122, 56, 9);
        border: none;
        border-bottom: groove;
        border-width: thin;
        border-bottom-color: rgb(255, 255, 255);
        text-align: left;
        padding-top: 10px;
        argin-left: 45px;
    }
    
    .navbar-nav li a:hover{
        border-right: none;
        border-left: none;
        border-bottom: none;
        color: white;
        order-left: 3px solid rgb(255, 255, 255);
        ackground-color: yellow !important;
        text-align: left;
    }

    .current{
        color: #e8491d;
        font-weight: bold;
        font-size:18px ;
        border-left: 3px solid rgb(255, 255, 255);
        border-bottom: none;
        padding-left: 10px;
        padding-bottom:;
    }

    #body .row{
    border: none;
    }



    #body .card{  
        border: none;
        border: ;
        
        border-bottom: groove;
        border-width: thin;
        border-bottom-color: rgb(170, 77, 10);
    }

    #body .bx{
        border:;
        height: auto;
    }

    
        

    }

   

    #footer .box-1{
        border: groove;
        isplay: inline;
        olor: white;
        argin: 2px;
        adding: 5px;
        eight: auto;
        ext-align: center;
        lign-items: center;
        border: none;
        border-width: thin;
        border-bottom: groove;
        border-bottom-color: rgb(170, 77, 10);

    }

}



















